.menu {
    display: flex;
    align-items: center;
  }
  
  .menu-button {
    
    background-color: tomato;
    font-size: 20px;
  }
  
  .menu.open .menu-button {
    display: block;
  }
  
  .menu-items {
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 500px) {
    .menu-items {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 40px;
      left: 0;
      background: white;
      width: 100%;
      text-align: center;
    }
    
    .menu.open .menu-items {
      display: flex;
    }
  }
  